<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager</title>
</head>
<body>
    <header>
        <h1>Contact Manager</h1>
        <a href="/">List</a> | <a href="/0/edit">Add Contact</a>
    </header>

    <hr>
    <div class="container">
